<title>HW1 Application</title>
<h1>Bil481 hw1</h1>
Result is {{result}}


<form action="compute" method="post">
    <textarea name="array" rows="10" cols="30"></textarea>
    <textarea name="tane" rows="10" cols="30"></textarea>
    <textarea name="kucuk_sayi" rows="10" cols="30"></textarea>
    <textarea name="buyuk_sayi" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>